:root {
	--bg: #f9f9f9;
	--text: #333;
	--board: #fff;
	--list: #f2f3f5;
	--tag-1: #d6ede2;
	--tag-1-text: #13854e;
	--tag-2: #ceecfd;
	--tag-2-text: #2d86ba;
	--tag-3: #f2dcf5;
	--tag-3-text: #a734ba;
}
  
:root.dark-mode {
	--bg: #1e1e1e;
	--text: #f0f0f0;
	--board: #2e2e2e;
	--list: #252525;
	--tag-1: #d6ede2;
	--tag-1-text: #13854e;
	--tag-2: #ceecfd;
	--tag-2-text: #2d86ba;
	--tag-3: #f2dcf5;
	--tag-3-text: #a734ba;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	color: var(--text);
	background-color: var(--bg);
	width: 100%;
	min-height: 100vh;
}
p {
	word-break: break-all;
	text-overflow: ellipsis;
}


#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #233138;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 4rem;
}

#sidebar p {
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

#sidebar p:hover {
    color: white;
}

#sidebar > ul {
    list-style: none;
    padding-left: 0;
}

#sidebar > ul > li {
    font-size: 1rem;
    color: black;
    background-color: #f3f3f3;
    padding: 0.5rem;
    margin-inline: 1em;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px var(--primary-color-light);
}

#sidebar > ul > li.is-active {
    box-shadow: 3px 3px yellow;
}

#sidebar > ul > li.is-active:hover {
    box-shadow: 3px 3px orange;
}

#sidebar > ul > li:hover {
    color: var(--primary-color-dark);
    cursor: pointer;
    box-shadow: 3px 3px var(--primary-color-dark);
}
  
#sidebar #sidebar-close {
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.25rem;
    margin-left: 50px;
}

#sidebarSearchField {
	display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}


#boardTitle {
	padding: 1rem 0 0 1rem;
}

#boardContainer {
    display: flex;
    overflow-x: auto;
    padding: 1rem;
	margin-top: 2rem;
    gap: 1rem;
    align-items: flex-start;
	height: 100%;
    white-space: nowrap;
	scroll-behavior: smooth;
}

#listsContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
}

#addListButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    border: 2px dashed #888;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    flex-shrink: 0;
}

#boardContainer::-webkit-scrollbar {
	height: 13px;
}

#boardContainer::-webkit-scrollbar-thumb {
	background-color: rgba(108, 108, 108, 0.5);
	border-radius: 4px;
}

#boardContainer::-webkit-scrollbar-track {
	background-color: rgba(108, 108, 108, 0.1);
}

.taskList {
	flex: 0 0 300px;
	min-width: 300px;
}
.taskList header {
	background-color: var(--list);
	border: 1px solid rgba(108, 108, 108, 0.2);
	border-radius: 8px 8px 0 0;
}
.taskList header h2 {
	font-size: 15px;
	padding: 0.7rem;
}
.taskList header i {
    display: inline-block;
    font-size: 10px;
    margin-right: 0.2rem;
}
.taskList header button {
	background: transparent;
	color: var(--light-grey);
	font-size: 18px;
	border: 0;
	cursor: pointer;
}
.taskListBody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 0.5rem;
	background-color: var(--list);
	border-left: 1px solid rgba(108, 108, 108, 0.2);
	border-right: 1px solid rgba(108, 108, 108, 0.2);
}
.taskList footer {
	background-color: var(--list);
	border: 1px solid rgba(108, 108, 108, 0.2);
	border-radius: 0 0 8px 8px;
	width: 100%;
}

.taskList footer:hover {
    opacity: 80%;
}

.addTaskButton {
	background: none;
	border: none;
	font-size: 13px;
	width: 100%;
	opacity: 50%;
	padding: 1rem;
}
.addTaskButton i {
    display: inline-block;
    font-size: 10px;
    margin-right: 0.2rem;
}

.addListButton {
	background: none;
	border: none;
	font-size: 13px;
	padding: 1rem;
}

.task {
	cursor: move;
	list-style: none;
	background-color: var(--white);
	padding: 0.7rem;
	border-radius: 8px;
	width: 100%;
	border: 2px solid rgba(108, 108, 108, 0.2);
}
.task:hover {
	border: 2px dashed rgba(108, 108, 108, 0.5);
}
.task p {
	font-size: 15px;
}

.taskHead {
	margin-bottom: 0.7rem;
}
.taskTitleContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.taskTitle {
	font-weight: bolder;

}

.taskEditButton,
.taskDeleteButton,
.listDeleteButton {
	opacity: 0%;
	background-color: transparent;
	border: 0;
	color: var(--light-grey);
	font-size: 15px;
}
.task:hover .taskEditButton,
.task:hover .taskDeleteButton,
.taskList header:hover .listDeleteButton {
	opacity: 50%;
}

.tagButton {
    background: none;
    border: 1px dashed #ccc;
    cursor: pointer;
    margin-top: 5px;
    font-size: 12px;
}


.taskTags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.taskTag {
    display: inline-flex;
    align-items: center;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    gap: 5px;
}

.taskTags:empty {
    display: none;
}
